:root {
    --background-color: #0f0f0f;
    background-color: var(--background-color);
    font-family: "Great Vibes", cursive;
    color: #cfcfcf;
    font-size: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    gap: 2rem;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    height: 100vh;
}

.letter {
    height: 80%;
    width: 80%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30% 15%;
    box-sizing: content-box;
}

.gallery {
    display: flex;
    width: min(50%, 80vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.entry {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.entry img {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 50%;
    height: auto;
}

.entry.left img {
    right: 100%;
}

.entry.right img {
    left: 100%;
}
