:root {
    background-color: #0f0f0f;
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    color: #cfcfcf;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5rem;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.letter {
    position: relative;
    display: flex;
    height: 100%;
    aspect-ratio: 3/4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (orientation: portrait) {
        width: 100%;
        height: unset;
    }
}

.letter-background {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
}

.letter-content {
    height: 70%;
    width: 65%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #2f1f2f;
    font-size: 3cqh;

    @media (orientation: portrait) {
        font-size: 4cqw;
    }
}

.gallery {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.entry {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.entry-image {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 50%;
    height: auto;

    @media (orientation: portrait) {
        width: 70%;
    }
}

.entry.left > .entry-image {
    right: 100%;
}

.entry.right > .entry-image {
    left: 100%;
}

.epilogue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}
