:root {
    background-color: #0f0f0f;
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    color: #cfcfcf;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5rem;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.letter {
    position: relative;
    display: flex;
    height: 100%;
    aspect-ratio: 3/4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (orientation: portrait) {
        width: 100%;
        height: unset;
    }
}

.letter-background {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
}

.letter-content {
    height: 70%;
    width: 65%;
    margin-top: 2rem;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #2f1f2f;
    font-size: 3cqh;

    @media (orientation: portrait) {
        font-size: 4cqw;
    }
}

.gallery {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.entry {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.entry-image {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 50%;
    height: auto;

    @media (orientation: portrait) {
        width: 70%;
    }
}

.entry.left > .entry-image {
    right: 100%;
}

.entry.right > .entry-image {
    left: 100%;
}

.calendar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 80%;
    gap: 1rem;
}

.calendar::-webkit-scrollbar {
    display: none;
}

.calendar-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    scroll-snap-align: center;
    align-items: center;
    min-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

.month-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.calendar-entry {
    --background-color: #af2f3f;
    --hover-color: #df4f5f;

    display: flex;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 0.75rem;
    background-color: var(--background-color);
    transition: background-color 250ms;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 1.5rem;
    aspect-ratio: 1;
}

.calendar-entry.inactive {
    --background-color: #2f1f1f;
    --hover-color: unset;
    color: #5f5f5f;
    cursor: auto;
}

.calendar-entry.delayed {
    --background-color: #d39230;
    --hover-color: #e6ab53;
    color: #0f0f0f;
}

.calendar-entry:hover,
.calendar-entry:active {
    background-color: var(--hover-color, var(--background-color));
}

.calendar-scroller {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    width: 3vw;
    padding: 0.25rem;
    aspect-ratio: 1;
    font-family: monospace;
    font-size: 2cqw;
    background-color: #4f1f2f;
    transition: background-color 250ms;
    border-radius: 0.5rem;
    user-select: none;
    cursor: pointer;

    @media (orientation: portrait) {
        height: 4vh;
        width: unset;
        font-size: 3cqh;
    }
}

.calendar-scroller:hover,
.calendar-scroller:active {
    background-color: #6f2f3f;
}

.epilogue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.letter-heading {
    font-weight: 600;
    line-height: 1.5lh;
}
